body {

    #add {

        .window {
            height: 100%;

            .bg {

                h1 {
                    text-align: center;
                }


                form {
                    width: 70%;
                    min-width: 260px;

                    .info {
                        flex-direction: column;
                        margin-top: 10px;
                        height: inherit;

                        div {
                            width: 100%;
                            
                        }
                    }
                    select {
                        width: 96%;
                    }
                    input[type="text"] {
                        width: 92%;
                    }
                }
            }
        }
    }
}