body {

    #add {

        .window {
            height: 100%;

            .bg {

                form {
                    width: 70%;
                    min-width: 500px;

                    .info {
                        
                        div {
                            width: 45%;
                        }
                    }
                }
            }
        }
    }
}