@font-face {
    font-family: "Tw";
    src: url("../font/TCM.TTF") 
}

@font-face {
    font-family: "myriad";
    src: url("../font/MYRIADPRO.woff") 
}



body {
    margin: 0;
    height: 100vh;
    background: #081f2b;

    #root {
        height: 100vh;


        #map {
            height: 100%;
            position: relative;

            

            #canvas {
                position: absolute!important;
                top: 0;
            
            
            }

            /*

            ███╗   ███╗███████╗███╗   ██╗██╗   ██╗
            ████╗ ████║██╔════╝████╗  ██║██║   ██║
            ██╔████╔██║█████╗  ██╔██╗ ██║██║   ██║
            ██║╚██╔╝██║██╔══╝  ██║╚██╗██║██║   ██║
            ██║ ╚═╝ ██║███████╗██║ ╚████║╚██████╔╝
            ╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝ ╚═════╝ 

            */
                                      

            .menu {
                display: flex;
                position: relative;
                width: 600px;
                height: 100%;
                right: 0px;
                transition: ease 1s;
                -webkit-transition: ease 1s;
                -moz-transition: ease 1s;
                -ms-transition: ease 1s;
                -o-transition: ease 1s;

                .left {
                    width: 500px;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.1);

                    h1 {
                        margin: 10px 0 50px 20px;
                        font-size: 65px;
                        color: white;
                        font-family: "Tw";
                        font-weight: 100;
                    }
                    

                    .search {
                        height: 250px;
                        display: flex;
                        border: 1px solid;
                        border-left: none;
                        border-color: rgba(255,255,255,0.5);
                        
                        .icon {
                            width: 75px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img {
                                width: 35px;
                            }
                        }
                        
                        .info {
                            display: flex;
                            flex: auto;
                            flex-direction: column;
                            justify-content: space-evenly;
                            background: rgba(0, 0, 0, 0.15);

                            h3 {
                                margin: 0 0 0 30px;
                                font-size: 30px;
                                color: white;
                                font-family: "Tw";
                                font-weight: 100;
                            }

                            .bouton {
                                margin-left: 50px;
                                width: 50px;
                                height: 50px;
                                background: rgba(255, 255, 255, 0.05);

                                a {
                                    width: 100%;
                                    height: 100%;
                                    text-decoration: none;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color: white;
                                    font-size: 30px;
                                }
                            }

                            form {
                                margin-left: 50px;

                                input {
                                    color: white;
                                    border: none;
                                }

                                input[type="submit"]{
                                    cursor:pointer;
                                    padding: 2px;
                                    width: 40px;
                                    height: 34px;
                                    background: rgba(255, 255, 255, 0.03);
                                }

                                input[type="text"]{
                                    padding: 2px 10px 2px;
                                    width: 250px;
                                    height: 30px;
                                    background: rgba(255, 255, 255, 0.05);
                                }
                            }
                        }
                    }

                    .options {
                        h2 {
                            margin: 100px 0 40px 20px;
                            font-size: 50px;
                            color: white;
                            font-family: "Tw";
                            font-weight: 100;
                            text-transform: uppercase;
                        }
                        .etoile {
                            height: 200px;
                            display: flex;
                            border: 1px solid;
                            border-left: none;
                            border-color: rgba(255,255,255,0.5);

                            .icon {
                                width: 75px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
    
                                img {
                                    width: 35px;
                                }
                            }
                            
                            .info {
                                display: flex;
                                flex: auto;
                                flex-direction: column;
                                background: rgba(0, 0, 0, 0.15);
    
                                h3 {
                                    margin: 10px 0 0 30px;
                                    font-size: 35px;
                                    color: white;
                                    font-family: "Tw";
                                    font-weight: 100;
                                }

                                .p {
                                    display: flex;
                                    flex-direction: column;
                                    margin-top: 5px;

                                    p {
                                        margin: 15px 0 0 50px;
                                        color: white;
                                        font-family: "myriad";
                                    }
                                }
                            }
                        }
                        .population {
                            height: 200px;
                            display: flex;
                            border: 1px solid;
                            border-left: none;
                            border-color: rgba(255,255,255,0.5);

                            .icon {
                                width: 75px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
    
                                img {
                                    width: 35px;
                                }
                            }
                            
                            .info {
                                display: flex;
                                flex: auto;
                                flex-direction: column;
                                background: rgba(0, 0, 0, 0.15);
    
                                h3 {
                                    margin: 10px 0 0 30px;
                                    font-size: 35px;
                                    color: white;
                                    font-family: "Tw";
                                    font-weight: 100;
                                }

                                .p {
                                    display: flex;
                                    flex-direction: column;
                                    margin-top: 10px;

                                    p {
                                        margin: 15px 0 0 50px;
                                        color: white;
                                        font-family: "myriad";
                                    }
                                }
                            }
                        }
                        .planete {
                            height: 200px;
                            display: flex;
                            border: 1px solid;
                            border-left: none;
                            border-color: rgba(255,255,255,0.5);

                            .icon {
                                width: 75px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
    
                                img {
                                    width: 35px;
                                }
                            }
                            
                            .info {
                                display: flex;
                                flex: auto;
                                flex-direction: column;
                                background: rgba(0, 0, 0, 0.15);
    
                                h3 {
                                    margin: 10px 0 0 30px;
                                    font-size: 35px;
                                    color: white;
                                    font-family: "Tw";
                                    font-weight: 100;
                                }

                                .p {
                                    display: flex;

                                    margin-top: 30px;

                                    .bouton {
                                        margin-left: 40px;
                                        width: 50px;
                                        height: 50px;
                                        background: rgba(255, 255, 255, 0.05);
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: white;
                                        font-size: 30px;
                                        cursor: pointer;
                                    }

                                    p {
                                        margin: 15px 0 0 50px;
                                        color: white;
                                        font-family: "myriad";
                                    }
                                }
                            }
                        }
                    }
    


                }
                .right {
                    width: 100px;
                    height: fit-content;

                    .bouton {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 60px;
                        height: 60px;
                        margin: 0 auto;
                        cursor: pointer;

                        div {
                            transform-origin: left;
                            position: absolute;
                            width: 40px;
                            height: 3px;
                            background: white;
                            border-radius: 10px;
                            -webkit-border-radius: 10px;
                            -moz-border-radius: 10px;
                            -ms-border-radius: 10px;
                            -o-border-radius: 10px;
                            transition: ease 0.4s;
                            -webkit-transition: ease 0.4s;
                            -moz-transition: ease 0.4s;
                            -ms-transition: ease 0.4s;
                            -o-transition: ease 0.4s;
                        }

                        div:nth-child(1) {
                            top: 15px;
                        }
                    
                        div:nth-child(2) {
                            top: 30px;
                        }
                    
                        div:nth-child(3) {
                            top: 45px;
                        }

                        .burger1  {
                            transform: rotate(45deg) translate(2px, 1px);
                            -webkit-transform: rotate(45deg) translate(2px, 1px);
                            -moz-transform: rotate(45deg) translate(2px, 1px);
                            -ms-transform: rotate(45deg) translate(2px, 1px);
                            -o-transform: rotate(45deg) translate(2px, 1px);
                        }
                        .burger2  {
                            opacity: 0;
                            transform: rotate(0deg) scale(0.2, 0.2);
                        }
                        .burger3  {
                            transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);
                            -moz-transform: rotate(-45deg);
                            -ms-transform: rotate(-45deg);
                            -o-transform: rotate(-45deg);
                        }
                    }
                }    
            } 

            /*

            ███╗   ███╗ ██████╗ ██████╗  █████╗ ██╗     
            ████╗ ████║██╔═══██╗██╔══██╗██╔══██╗██║     
            ██╔████╔██║██║   ██║██║  ██║███████║██║     
            ██║╚██╔╝██║██║   ██║██║  ██║██╔══██║██║     
            ██║ ╚═╝ ██║╚██████╔╝██████╔╝██║  ██║███████╗
            ╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
                                            
            */

            .modal {
                position: absolute;
                right: 50px;
                width: 500px;
                background: rgba(0, 0, 0, 0.1);
                height: 550px;
                top: 0;
                bottom: 0;
                margin: auto;
                display: flex;
                // border: 1px solid;
                border-color: rgba(255, 255, 255, 0.5);

                .right {
                    width: 75px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    border-right: 1px solid rgba(255, 255, 255, 0.5);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

                        .top {
                            position: absolute;
                            top: -25px;
                            height: 25px;
                            width: 100%;
                            display: flex;
                            cursor: pointer;

                            .triangle {
                                position: absolute;
                                width: 45%;
                                height: 1px;
                                background: rgba(255, 255, 255, 0.5);
                                transform: rotate(135deg) translate(12px, -5px);
                                -webkit-transform: rotate(135deg) translate(12px, -5px);
                                -moz-transform: rotate(135deg) translate(12px, -5px);
                                -ms-transform: rotate(135deg) translate(12px, -5px);
                                -o-transform: rotate(135deg) translate(12px, -5px);
                            }

                            .block {
                                position: relative;
                                width: 68%;
                                border-top: 1px solid rgba(255, 255, 255, 0.5);
                                border-right: 1px solid rgba(255, 255, 255, 0.5);
                                left: 24px;

                                .close {
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    div {
                                        position: absolute;
                                        height: 2px;
                                        width: 15px;
                                        background: rgba(255, 255, 255, 0.5);
                                    }

                                    .first {
                                        transform: rotate(45deg);
                                        -webkit-transform: rotate(45deg);
                                        -moz-transform: rotate(45deg);
                                        -ms-transform: rotate(45deg);
                                        -o-transform: rotate(45deg);
                                    }
                                    
                                    .second {
                                        transform: rotate(-45deg);
                                        -webkit-transform: rotate(-45deg);
                                        -moz-transform: rotate(-45deg);
                                        -ms-transform: rotate(-45deg);
                                        -o-transform: rotate(-45deg);
                                    }        
                                }
                            }
                        }
    
                        img {
                            height: 35px;
                        }
                }
    
                .left {
                    display: flex;
                    flex-direction: column;
                    width: 425px;
                    background: rgba(0, 0, 0, 0.15);
                    position: relative;
                    

                    .info {
                        display: flex;
                        flex-direction: column;

                        h3 {
                            margin: 10px 0 0 30px;
                            font-size: 35px;
                            color: white;
                            font-family: "Tw";
                            font-weight: 100;
                            text-transform: uppercase;
                        }

                        .p {
                            display: flex;
                            flex-direction: column;
                            margin-top: 5px;

                            p {
                                margin: 15px 0 0 50px;
                                color: white;
                                font-family: "myriad";
                            }
                        }
                        
                        img {
                            width: 90%;
                            object-fit: cover;
                            margin: 20px auto 0;
                        }

                        form {
                            display: flex;
                            flex-direction: column;

                            p,
                            label {
                                color: white;
                                opacity: 75%;
                                font-family: "myriad";
                                font-size: 20px;
                                font-weight: 100;
                                margin-left: 35px;
                            }
                            
                            .field {
                                margin-top: 15px;
                                display: flex;
                                flex-direction: column;
                                // align-items: center;
                                
                                  .radio {
                                      display: flex;
                                      justify-content: space-evenly;
                                  } 

                                  div {
                                      label {
                                          margin: 0 20px 0 0;
                                      }
                                  }
                                
                            }
                            select,
                            input {
                                color: white;
                                border: none;
                                margin: auto;
                            }
                            select:focus,
                            input:focus {
                                outline: 0px;
                            }

                            input[type="submit"]{
                                cursor:pointer;
                                padding: 2px;
                                width: 50%;
                                height: 50px;
                                background: #081f2b;
                                color: white;
                                font-family: "myriad";
                                font-size: 20px;
                                font-weight: 100;
                                margin: 25px auto 0;
    
                            }
                            select,
                            input[type="number"],
                            input[type="text"]{
                                padding: 2px 10px 2px;
                                margin-top: 10px;
                                height: 30px;
                                width: 80%;
                                background: #1a1a1a;
                                border-bottom: 1px solid #439fed;
                            }

                            select {
                                width: 85%;
                                text-transform: uppercase;
                            }
                        }
                    }

                    .options {
                        position: absolute;
                        bottom: 20px;
                        left: 30px;
                        display: flex;

                        div {
                            width: 50px;
                            height: 50px;
                            background: rgba(255, 255, 255, 0.05);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            margin-left: 20px;

                            img {
                                height: 25px;
                            }
                            
                        }
                    }
                }

            }



        }
    }

    /*

     █████╗ ██████╗ ██████╗     ███████╗██╗   ██╗███████╗████████╗███████╗███╗   ███╗
    ██╔══██╗██╔══██╗██╔══██╗    ██╔════╝╚██╗ ██╔╝██╔════╝╚══██╔══╝██╔════╝████╗ ████║
    ███████║██║  ██║██║  ██║    ███████╗ ╚████╔╝ ███████╗   ██║   █████╗  ██╔████╔██║
    ██╔══██║██║  ██║██║  ██║    ╚════██║  ╚██╔╝  ╚════██║   ██║   ██╔══╝  ██║╚██╔╝██║
    ██║  ██║██████╔╝██████╔╝    ███████║   ██║   ███████║   ██║   ███████╗██║ ╚═╝ ██║
    ╚═╝  ╚═╝╚═════╝ ╚═════╝     ╚══════╝   ╚═╝   ╚══════╝   ╚═╝   ╚══════╝╚═╝     ╚═╝
                                                                                 
    */

    #add {
        background: black;
        min-height: 1080px;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

            .window {
                width: 100%;
                height: 90%;
                display: flex;
                position: relative;


                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                }

                .bg {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    flex-direction: column;

                    img {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        object-fit: cover;
                        opacity: 0.4;
                        top: 0;
                    }

                    h1 {
                        font-size: 50px;
                        color: white;
                        font-family: "Tw";
                        font-weight: 100;
                        position: relative;
                        text-transform: uppercase;
                        margin: 50px auto;
                    }

                    form {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        flex: auto;
                        margin: 0 auto;
                        min-width: 950px;

                        .nom {
                            display: flex;
                            flex-direction: column;

                        }

                        .info {
                            display: flex;
                            justify-content: space-between;
                            margin-top: 50px;

                            div {
                                display: flex;
                                flex-direction: column;
                                width: 40%;
                                
                            }
                        }

                        label {
                            color: white;
                            opacity: 75%;
                            font-family: "myriad";
                            font-size: 20px;
                            font-weight: 100;
                        }

                        select,
                        input {
                            color: white;
                            border: none;
                        }

                        select,
                        input:focus {
                            outline: 0px;
                        }

                        input[type="submit"]{
                            cursor:pointer;
                            padding: 2px;
                            width: 250px;
                            height: 50px;
                            background: #081f2b;
                            color: white;
                            font-family: "myriad";
                            font-size: 20px;
                            font-weight: 100;
                            margin: 0 auto;

                        }

                        select,
                        input[type="text"]{
                            padding: 2px 10px 2px;
                            margin-top: 10px;
                            height: 30px;
                            width: 100%;
                            background: #1a1a1a;
                            border-bottom: 1px solid #439fed;
                        }

                        select {
                            height: 38px;
                            text-transform: uppercase;
                        }
                    }

                    .systeme,
                    .etoile {
                        height: 40%;
                    }
                }
            }
            // .deco {
            //     width: 40%;


            // }
    }
}







