@charset "UTF-8";
@font-face {
  font-family: "Tw";
  src: url("../font/TCM.TTF");
}

@font-face {
  font-family: "myriad";
  src: url("../font/MYRIADPRO.woff");
}

body {
  margin: 0;
  height: 100vh;
  background: #081f2b;
  /*

     █████╗ ██████╗ ██████╗     ███████╗██╗   ██╗███████╗████████╗███████╗███╗   ███╗
    ██╔══██╗██╔══██╗██╔══██╗    ██╔════╝╚██╗ ██╔╝██╔════╝╚══██╔══╝██╔════╝████╗ ████║
    ███████║██║  ██║██║  ██║    ███████╗ ╚████╔╝ ███████╗   ██║   █████╗  ██╔████╔██║
    ██╔══██║██║  ██║██║  ██║    ╚════██║  ╚██╔╝  ╚════██║   ██║   ██╔══╝  ██║╚██╔╝██║
    ██║  ██║██████╔╝██████╔╝    ███████║   ██║   ███████║   ██║   ███████╗██║ ╚═╝ ██║
    ╚═╝  ╚═╝╚═════╝ ╚═════╝     ╚══════╝   ╚═╝   ╚══════╝   ╚═╝   ╚══════╝╚═╝     ╚═╝
                                                                                 
    */
}

body #root {
  height: 100vh;
}

body #root #map {
  height: 100%;
  position: relative;
  /*

            ███╗   ███╗███████╗███╗   ██╗██╗   ██╗
            ████╗ ████║██╔════╝████╗  ██║██║   ██║
            ██╔████╔██║█████╗  ██╔██╗ ██║██║   ██║
            ██║╚██╔╝██║██╔══╝  ██║╚██╗██║██║   ██║
            ██║ ╚═╝ ██║███████╗██║ ╚████║╚██████╔╝
            ╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝ ╚═════╝ 

            */
  /*

            ███╗   ███╗ ██████╗ ██████╗  █████╗ ██╗     
            ████╗ ████║██╔═══██╗██╔══██╗██╔══██╗██║     
            ██╔████╔██║██║   ██║██║  ██║███████║██║     
            ██║╚██╔╝██║██║   ██║██║  ██║██╔══██║██║     
            ██║ ╚═╝ ██║╚██████╔╝██████╔╝██║  ██║███████╗
            ╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
                                            
            */
}

body #root #map #canvas {
  position: absolute !important;
  top: 0;
}

body #root #map .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 600px;
  height: 100%;
  right: 0px;
  transition: ease 1s;
  -webkit-transition: ease 1s;
  -moz-transition: ease 1s;
  -ms-transition: ease 1s;
  -o-transition: ease 1s;
}

body #root #map .menu .left {
  width: 500px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

body #root #map .menu .left h1 {
  margin: 10px 0 50px 20px;
  font-size: 65px;
  color: white;
  font-family: "Tw";
  font-weight: 100;
}

body #root #map .menu .left .search {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid;
  border-left: none;
  border-color: rgba(255, 255, 255, 0.5);
}

body #root #map .menu .left .search .icon {
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #root #map .menu .left .search .icon img {
  width: 35px;
}

body #root #map .menu .left .search .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: rgba(0, 0, 0, 0.15);
}

body #root #map .menu .left .search .info h3 {
  margin: 0 0 0 30px;
  font-size: 30px;
  color: white;
  font-family: "Tw";
  font-weight: 100;
}

body #root #map .menu .left .search .info .bouton {
  margin-left: 50px;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.05);
}

body #root #map .menu .left .search .info .bouton a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 30px;
}

body #root #map .menu .left .search .info form {
  margin-left: 50px;
}

body #root #map .menu .left .search .info form input {
  color: white;
  border: none;
}

body #root #map .menu .left .search .info form input[type="submit"] {
  cursor: pointer;
  padding: 2px;
  width: 40px;
  height: 34px;
  background: rgba(255, 255, 255, 0.03);
}

body #root #map .menu .left .search .info form input[type="text"] {
  padding: 2px 10px 2px;
  width: 250px;
  height: 30px;
  background: rgba(255, 255, 255, 0.05);
}

body #root #map .menu .left .options h2 {
  margin: 100px 0 40px 20px;
  font-size: 50px;
  color: white;
  font-family: "Tw";
  font-weight: 100;
  text-transform: uppercase;
}

body #root #map .menu .left .options .etoile {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid;
  border-left: none;
  border-color: rgba(255, 255, 255, 0.5);
}

body #root #map .menu .left .options .etoile .icon {
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #root #map .menu .left .options .etoile .icon img {
  width: 35px;
}

body #root #map .menu .left .options .etoile .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.15);
}

body #root #map .menu .left .options .etoile .info h3 {
  margin: 10px 0 0 30px;
  font-size: 35px;
  color: white;
  font-family: "Tw";
  font-weight: 100;
}

body #root #map .menu .left .options .etoile .info .p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5px;
}

body #root #map .menu .left .options .etoile .info .p p {
  margin: 15px 0 0 50px;
  color: white;
  font-family: "myriad";
}

body #root #map .menu .left .options .population {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid;
  border-left: none;
  border-color: rgba(255, 255, 255, 0.5);
}

body #root #map .menu .left .options .population .icon {
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #root #map .menu .left .options .population .icon img {
  width: 35px;
}

body #root #map .menu .left .options .population .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.15);
}

body #root #map .menu .left .options .population .info h3 {
  margin: 10px 0 0 30px;
  font-size: 35px;
  color: white;
  font-family: "Tw";
  font-weight: 100;
}

body #root #map .menu .left .options .population .info .p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

body #root #map .menu .left .options .population .info .p p {
  margin: 15px 0 0 50px;
  color: white;
  font-family: "myriad";
}

body #root #map .menu .left .options .planete {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid;
  border-left: none;
  border-color: rgba(255, 255, 255, 0.5);
}

body #root #map .menu .left .options .planete .icon {
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #root #map .menu .left .options .planete .icon img {
  width: 35px;
}

body #root #map .menu .left .options .planete .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.15);
}

body #root #map .menu .left .options .planete .info h3 {
  margin: 10px 0 0 30px;
  font-size: 35px;
  color: white;
  font-family: "Tw";
  font-weight: 100;
}

body #root #map .menu .left .options .planete .info .p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

body #root #map .menu .left .options .planete .info .p .bouton {
  margin-left: 40px;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

body #root #map .menu .left .options .planete .info .p p {
  margin: 15px 0 0 50px;
  color: white;
  font-family: "myriad";
}

body #root #map .menu .right {
  width: 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body #root #map .menu .right .bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  cursor: pointer;
}

body #root #map .menu .right .bouton div {
  -webkit-transform-origin: left;
          transform-origin: left;
  position: absolute;
  width: 40px;
  height: 3px;
  background: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: ease 0.4s;
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
}

body #root #map .menu .right .bouton div:nth-child(1) {
  top: 15px;
}

body #root #map .menu .right .bouton div:nth-child(2) {
  top: 30px;
}

body #root #map .menu .right .bouton div:nth-child(3) {
  top: 45px;
}

body #root #map .menu .right .bouton .burger1 {
  transform: rotate(45deg) translate(2px, 1px);
  -webkit-transform: rotate(45deg) translate(2px, 1px);
  -moz-transform: rotate(45deg) translate(2px, 1px);
  -ms-transform: rotate(45deg) translate(2px, 1px);
  -o-transform: rotate(45deg) translate(2px, 1px);
}

body #root #map .menu .right .bouton .burger2 {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

body #root #map .menu .right .bouton .burger3 {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

body #root #map .modal {
  position: absolute;
  right: 50px;
  width: 500px;
  background: rgba(0, 0, 0, 0.1);
  height: 550px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-color: rgba(255, 255, 255, 0.5);
}

body #root #map .modal .right {
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

body #root #map .modal .right .top {
  position: absolute;
  top: -25px;
  height: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

body #root #map .modal .right .top .triangle {
  position: absolute;
  width: 45%;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  transform: rotate(135deg) translate(12px, -5px);
  -webkit-transform: rotate(135deg) translate(12px, -5px);
  -moz-transform: rotate(135deg) translate(12px, -5px);
  -ms-transform: rotate(135deg) translate(12px, -5px);
  -o-transform: rotate(135deg) translate(12px, -5px);
}

body #root #map .modal .right .top .block {
  position: relative;
  width: 68%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  left: 24px;
}

body #root #map .modal .right .top .block .close {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #root #map .modal .right .top .block .close div {
  position: absolute;
  height: 2px;
  width: 15px;
  background: rgba(255, 255, 255, 0.5);
}

body #root #map .modal .right .top .block .close .first {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

body #root #map .modal .right .top .block .close .second {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

body #root #map .modal .right img {
  height: 35px;
}

body #root #map .modal .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 425px;
  background: rgba(0, 0, 0, 0.15);
  position: relative;
}

body #root #map .modal .left .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #root #map .modal .left .info h3 {
  margin: 10px 0 0 30px;
  font-size: 35px;
  color: white;
  font-family: "Tw";
  font-weight: 100;
  text-transform: uppercase;
}

body #root #map .modal .left .info .p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5px;
}

body #root #map .modal .left .info .p p {
  margin: 15px 0 0 50px;
  color: white;
  font-family: "myriad";
}

body #root #map .modal .left .info img {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 20px auto 0;
}

body #root #map .modal .left .info form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #root #map .modal .left .info form p,
body #root #map .modal .left .info form label {
  color: white;
  opacity: 75%;
  font-family: "myriad";
  font-size: 20px;
  font-weight: 100;
  margin-left: 35px;
}

body #root #map .modal .left .info form .field {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #root #map .modal .left .info form .field .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body #root #map .modal .left .info form .field div label {
  margin: 0 20px 0 0;
}

body #root #map .modal .left .info form select,
body #root #map .modal .left .info form input {
  color: white;
  border: none;
  margin: auto;
}

body #root #map .modal .left .info form select:focus,
body #root #map .modal .left .info form input:focus {
  outline: 0px;
}

body #root #map .modal .left .info form input[type="submit"] {
  cursor: pointer;
  padding: 2px;
  width: 50%;
  height: 50px;
  background: #081f2b;
  color: white;
  font-family: "myriad";
  font-size: 20px;
  font-weight: 100;
  margin: 25px auto 0;
}

body #root #map .modal .left .info form select,
body #root #map .modal .left .info form input[type="number"],
body #root #map .modal .left .info form input[type="text"] {
  padding: 2px 10px 2px;
  margin-top: 10px;
  height: 30px;
  width: 80%;
  background: #1a1a1a;
  border-bottom: 1px solid #439fed;
}

body #root #map .modal .left .info form select {
  width: 85%;
  text-transform: uppercase;
}

body #root #map .modal .left .options {
  position: absolute;
  bottom: 20px;
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #root #map .modal .left .options div {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-left: 20px;
}

body #root #map .modal .left .options div img {
  height: 25px;
}

body #add {
  background: black;
  min-height: 1080px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #add .window {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

body #add .window video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

body #add .window .bg {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #add .window .bg img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.4;
  top: 0;
}

body #add .window .bg h1 {
  font-size: 50px;
  color: white;
  font-family: "Tw";
  font-weight: 100;
  position: relative;
  text-transform: uppercase;
  margin: 50px auto;
}

body #add .window .bg form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  margin: 0 auto;
  min-width: 950px;
}

body #add .window .bg form .nom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #add .window .bg form .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

body #add .window .bg form .info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

body #add .window .bg form label {
  color: white;
  opacity: 75%;
  font-family: "myriad";
  font-size: 20px;
  font-weight: 100;
}

body #add .window .bg form select,
body #add .window .bg form input {
  color: white;
  border: none;
}

body #add .window .bg form select,
body #add .window .bg form input:focus {
  outline: 0px;
}

body #add .window .bg form input[type="submit"] {
  cursor: pointer;
  padding: 2px;
  width: 250px;
  height: 50px;
  background: #081f2b;
  color: white;
  font-family: "myriad";
  font-size: 20px;
  font-weight: 100;
  margin: 0 auto;
}

body #add .window .bg form select,
body #add .window .bg form input[type="text"] {
  padding: 2px 10px 2px;
  margin-top: 10px;
  height: 30px;
  width: 100%;
  background: #1a1a1a;
  border-bottom: 1px solid #439fed;
}

body #add .window .bg form select {
  height: 38px;
  text-transform: uppercase;
}

body #add .window .bg .systeme,
body #add .window .bg .etoile {
  height: 40%;
}

@media (max-width: 1024px) {
  body #add .window {
    height: 100%;
  }
  body #add .window .bg form {
    width: 70%;
    min-width: 500px;
  }
  body #add .window .bg form .info div {
    width: 45%;
  }
}

@media (max-width: 767px) {
  body #add .window {
    height: 100%;
  }
  body #add .window .bg h1 {
    text-align: center;
  }
  body #add .window .bg form {
    width: 70%;
    min-width: 260px;
  }
  body #add .window .bg form .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
    height: inherit;
  }
  body #add .window .bg form .info div {
    width: 100%;
  }
  body #add .window .bg form select {
    width: 96%;
  }
  body #add .window .bg form input[type="text"] {
    width: 92%;
  }
}
/*# sourceMappingURL=style.css.map */